setuptools==84.0.0
wheel==0.48.0
appdirs==1.4.4
six==1.17.0
attrdict3==2.0.2
idna==3.18
pyparsing==3.1.4
psutil==6.1.1
rcssmin==1.2.1
sip == 6.16.1
requests >= 2.26.0
cython==3.3.0
Pillow==10.4.0
wxPython==4.3.1
chunspell==2.0.5
